.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

/*. {
  color: white;
  background-color: #14AE6D;
  border-top: 1px solid #75e6a8;
  border-bottom: 1px solid #75e6a8;
  font-family: 'Bpg Arial';
  font-weight: normal;
}*/

.sideMenu {
  color: white;
  height: 160px;
  background-color: #191b1f;
  text-align: center;
}

.home {
  display: block;
  padding: 8px 0 8px 16px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
