<form [formGroup]="registerForm">
  <div class="fill-form">
    <mat-card>
      <mat-form-field class="matInput">
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <br />
      <mat-form-field class="matInput">
        <input formControlName="password" type="password" matInput placeholder="Password">
      </mat-form-field>
      <br />
      <mat-form-field class="matInput">
        <input formControlName="confirmPassword" type="password" matInput placeholder="Confirm Password">
      </mat-form-field>
      <br />
      <button (click)="register()" mat-raised-button color="primary" [disabled]="!registerForm.valid">Register</button>
    </mat-card>
  </div>
</form>

