<div class="quote-management-form">
  <button mat-raised-button color="primary" [routerLink]="['/quote-management/create-quote']">Create Quote</button>&nbsp;&nbsp;
  <button mat-raised-button color="primary" [routerLink]="['/quote-management/create-answer']">Add Answer</button>
  <br />
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="editColumnDef">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let quote">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip (click)="editQuote(quote.id)" style="cursor: pointer; background-color:cadetblue; font-size: 12px;" selected>Edit</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteColumnDef">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let quote">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip (click)="deleteQuote(quote.id)" style="cursor: pointer; background-color:red; font-size: 12px;" selected>Delete</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="Quote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quote </th>
      <td mat-cell *matCellDef="let quote">{{quote.quoteText}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="Answer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Answer </th>
      <td mat-cell *matCellDef="let answer"> {{answer.answerText}} </td>
    </ng-container>

    <ng-container matColumnDef="IsCorrect">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Correct </th>
      <td mat-cell *matCellDef="let answer">  {{answer.isCorrect}} </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>



